.container {
    background-color: #542437;
    height: 100%;
    .menu {
        // height: 10vh;
        width: 90vw;
        background-color: #53777A;
        margin: 0 auto;
        a {
            color: white;
        }
    }

    .parent {
        background-color: #C02942;
        margin: 50px;
        height: 90vh;
        .parentTitle {
          text-align: center;
          margin-top: 2%;
        }
        .child1 {
            margin: 2%;
            height: 60%;
            padding: 2%;
            .title {
              display: flex;
              justify-content: space-between;
            }
            .content {
                display: flex;
                .stateNotice {
                  font-size: 1.5rem;
                  padding: 1%;
                  display: inline;
                  // background-color: white;
                }
                .children {
                  margin: 0 10%;
                  width: 40%;
                  .child2 {
                    background-color: #D95B43;
                    height: 100%;
                  }
                }
            }
        }
    }
}

button {
    margin-left: 3%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #53777A;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #333;
}

button:hover {
    background-color: rgb(41, 92, 97)
}

.changeColorBtn:hover {
    color: red;
}

button:active {
    background-color: rgb(41, 92, 97);
    box-shadow: 0 5px #333;
    transform: translateY(4px);
}

code {
    background-color: white;
    font-weight: bold;
    color: red;
}

.wbg {
  margin: 1%;
  background-color: white;
  font-size: 2rem;
}

.imageWrapper {
  width: 80%;
  margin: 2%;
  // height: 300px;
}

img {
  width: 100%;
}
